/****************************************************
*****************************************************
FOR SMALL LAPTOPS OR LANDSCAPE ON IPADS (1430px)
*****************************************************
****************************************************/

@media (max-width: 1430px) {
/***************************
SECTION 2 
***************************/

.founders {
    gap: 5rem;
}

.founder-career {
    margin-bottom: 0.5rem;
}

.founder-desc {
    font-size: 1.5rem;
    width: 90%;
}

.founder-svg {
    width: 10%;
    margin-bottom: 0.7rem;
}
    
/***************************
END OF SECTION 2 QUERIES
***************************/
    
    
    
    
/***************************
SECTION 3 
***************************/

.about-how-why-text {
    width: 95%;
}

.about-how-why-img {
    background: url(../IMG/About-img/Satellite-pic.webp);
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 5.5rem;
    margin-left: 3.5rem;
    border-radius: 10px;
}

.about-how-why-img img {
    width: 0%;
}
    
/***************************
END OF SECTION 3 QUERIES
***************************/
    
    
    
    
    
/***************************
SECTION 4 
***************************/

.what-we-stand-for {
    gap: 5rem;
}

.what-we-stand-for p {
    font-size: 1.5rem;
    margin-top: 0.7rem;
}

.stand-for-1, 
.stand-for-2, 
.stand-for-3, 
.stand-for-4 {
    height: 495px;
    padding: 20px 15px;
}
    
/***************************
END OF SECTION 4 QUERIES
***************************/
    
}
    
/***************************************************
****************************************************
END OF SMALL LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1430px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALL LAPTOPS OR LANDSCAPE ON IPADS (1300px)
*****************************************************
****************************************************/

@media (max-width: 1300px) {
/***************************
SECTION 2 
***************************/

.founders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.founder-1, 
.founder-2, 
.founder-3, 
.founder-4 {
    width: 85%;
    margin: auto;
}

.founders {
    gap: 0rem;
    row-gap: 7rem;
}

.founder-name {
    font-size: 2.6rem;
}

.founder-position {
    font-size: 1.8rem;
}

.founder-desc {
    font-size: 1.8rem;
    width: 90%;
}

.founder-svg {
    width: 11%;
    margin-bottom: 1rem;
}

.founder-career {
    font-size: 2.4rem;
    margin-bottom: 0.8rem;
}

.founder-img::before {
    content: 'Hover over me';
    font-size: 1.6rem;
}
        
/***************************
END OF SECTION 2 QUERIES
***************************/





/***************************
SECTION 4 
***************************/

.what-we-stand-for {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.stand-for-1, 
.stand-for-2, 
.stand-for-3, 
.stand-for-4 {
    width: 85%;
    margin: auto;
}

.what-we-stand-for {
    gap: 0rem;
    row-gap: 7rem;
}

.what-we-stand-for h3 {
    font-size: 2.4rem;
}

.what-we-stand-for p {
    font-size: 1.8rem;
}

.what-we-stand-for svg {
    width: 55px;
}

.stand-for-1::after, 
.stand-for-2::after, 
.stand-for-3::after, 
.stand-for-4::after {
    content: 'Hover over me';
    bottom: 5px;
    font-size: 1.6rem;
}
        
/***************************
END OF SECTION 4 QUERIES
***************************/
        
}
        
/***************************************************
****************************************************
END OF SMALL LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1300px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALLER LAPTOPS OR LANDSCAPE ON IPADS (1000px)
*****************************************************
****************************************************/

@media (max-width: 1000px) {    
    
/***************************
SECTION 2
***************************/
    
.founder-1:hover .js-disappear,
.founder-2:hover .js-disappear-2,
.founder-3:hover .js-disappear-3,
.founder-4:hover .js-disappear-4{
    opacity: 0;
}   

.founder-img::before {
    content: 'Tap on me';
    font-size: 1.6rem;
}

/***************************
END OF SECTION 2
***************************/





/***************************
SECTION 3 
***************************/

.grid-2-cols {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-how-why-img img {
    width: 92%;
}

.about-how-why-img {
    background: none;
    height: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
    border-radius: 0;
}

.about-how-why-text {
    width: 90%;
    text-align: center;
    margin-top: 5rem;
}
            
/***************************
END OF SECTION 3 QUERIES
***************************/
            
            
            
            
            
/***************************
SECTION 4
***************************/

.stand-for-1, 
.stand-for-2, 
.stand-for-3, 
.stand-for-4 {
    height: 530px;
    margin: auto;
}

.what-we-stand-for svg {
    width: 50px;
}

.stand-for-1::before,
.stand-for-2::before,
.stand-for-3::before,
.stand-for-4::before{
   opacity: 0;
}

.suppose-off-1::before,
.suppose-off-2::before,
.suppose-off-3::before,
.suppose-off-4::before{
    opacity: 1;
}

.stand-for-1::after, 
.stand-for-2::after, 
.stand-for-3::after, 
.stand-for-4::after {
    opacity: 1;
}
            
/***************************
END OF SECTION 4 QUERIES
***************************/





/***************************
SECTION 5
***************************/

.about-sky-text {
    width: 85%;
}
            
/***************************
END OF SECTION 5 QUERIES
***************************/
            
}
            
/***************************************************
****************************************************
END OF SMALLER LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1000px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (850px)
*****************************************************
****************************************************/

@media (max-width: 850px) {
/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 7rem;
}
                
/***************************
END OF SECTION 1 QUERIES
***************************/





/***************************
SECTION 2 
***************************/

.founders {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
                
/***************************
END OF SECTION 2 QUERIES
***************************/
                
                
                
                
                
/***************************
SECTION 4 
***************************/

.stand-for-1, 
.stand-for-2, 
.stand-for-3, 
.stand-for-4 {
    height: 625px;
}

.stand-for-1::after, 
.stand-for-2::after, 
.stand-for-3::after, 
.stand-for-4::after {
    content: 'Tap on me';
    bottom: -5px;
    font-size: 1.5rem;
}
                
/***************************
END OF SECTION 4 QUERIES
***************************/
                
}
                
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (850px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (650px)
*****************************************************
****************************************************/

@media (max-width: 650px) {

/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 5rem;
}

.about-hero p {
    font-size: 2.4rem;
}

.about-scroll-down {
    display: none;
}
                
/***************************
END OF SECTION 1 QUERIES
***************************/






/***************************
SECTION 4 
***************************/

.head-section-about-4 {
    text-align: center;
}

.what-we-stand-for {
    grid-template-columns: 1fr;
}
                    
/***************************
END OF SECTION 4 QUERIES
***************************/





/***************************
SECTION 6
***************************/

.about-sky {
    height: 115vh;
}
                    
/***************************
END OF SECTION 6 QUERIES
***************************/
                    
}
                    
/***************************************************
****************************************************
END OF FOR IPADS, TABLETS AND LANDSCAPE VIEW (650px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (500px)
*****************************************************
****************************************************/

@media (max-width: 500px) {

/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 4.5rem;
}

.about-hero p {
    font-size: 2.3rem;
}
                
/***************************
END OF SECTION 1 QUERIES
***************************/




      
/***************************
SECTION 2
***************************/

.founder-1, 
.founder-2, 
.founder-3, 
.founder-4 {
    width: 90%;
}
                        
/***************************
END OF SECTION 2 QUERIES
***************************/





/***************************
SECTION 4
***************************/

.stand-for-1, 
.stand-for-2, 
.stand-for-3, 
.stand-for-4 {
    height: 625px;
    width: 90%;
}
                        
/***************************
END OF SECTION 4 QUERIES
***************************/





/***************************
SECTION 5
***************************/

.about-sky {
    height: 140vh;
}
                        
/***************************
END OF SECTION 5 QUERIES
***************************/
                        
}
                        
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (500px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR TABLETS AND BIG PHONES (450px)
*****************************************************
****************************************************/

@media (max-width: 450px) {

/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 4.2rem;
}

.about-hero p {
    font-size: 2.1rem;
}
                        
/***************************
END OF SECTION 1 QUERIES
***************************/





/***************************
SECTION 5
***************************/

.about-sky-text a {
    font-size: 1.6rem;
    padding: 0.8rem 1.3rem;
}
                            
/***************************
END OF SECTION 5 QUERIES
***************************/
                            
}
                            
/***************************************************
****************************************************
END OF TABLETS AND BIG PHONES (450px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR BIG TO MEDIUM PHONE QUERIES (400px)
*****************************************************
****************************************************/

@media (max-width: 400px) {

/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 4rem;
}

.about-hero p {
    font-size: 2rem;
}
                            
/***************************
END OF SECTION 1 QUERIES
***************************/





/***************************
SECTION 5
***************************/

.about-sky {
    height: 165vh;
}

.about-sky-links {
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
                                
/***************************
END OF SECTION 5 QUERIES
***************************/
                                
}
                                
/***************************************************
****************************************************
END OF BIG TO MEDIUM PHONE QUERIES (400px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR MEDIUM TO SMALL PHONES (350px)
*****************************************************
****************************************************/

@media (max-width: 350px) {

/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 3.4rem;
}
                                
/***************************
END OF SECTION 1 QUERIES
***************************/
                
                
                
                
                
/***************************
SECTION 2 
***************************/

.founder-desc {
    font-size: 1.6rem;
    width: 95%;
}

.founder-img::before {
    font-size: 1.4rem;
}

.founder-career {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}
                                    
/***************************
END OF SECTION 2 QUERIES
***************************/
                                    
                                    
                                    
                                    
                               
/***************************
SECTION 4 
***************************/

.what-we-stand-for p {
    font-size: 1.6rem;
}

.stand-for-1, 
.stand-for-2, 
.stand-for-3, 
.stand-for-4 {
    height: 590px;
    width: 90%;
}
                                    
/***************************
END OF SECTION 4 QUERIES
***************************/
                               
}
                                    
/***************************************************
****************************************************
END OF MEDIUM TO SMALL PHONES (350px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALL PHONES AND FOLD PHONES (300px)
*****************************************************
****************************************************/

@media (max-width: 300px) {

/***************************
SECTION 1
***************************/

.about-hero h1 {
    font-size: 3.1rem;
}
                                    
/***************************
END OF SECTION 1 QUERIES
***************************/
                    
                    
                    
                    
                    
/***************************
SECTION 2 
***************************/

.founder-career {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
}

.founder-desc {
    font-size: 1.5rem;
    width: 95%;
}
                                        
/***************************
END OF SECTION 2 QUERIES
***************************/
                                      
}
                                        
/***************************************************
****************************************************
END OF SMALL PHONES AND FOLD PHONES (300px)
****************************************************
***************************************************/