/****************************************************
*****************************************************
FOR SMALL LAPTOPS OR LANDSCAPE ON IPADS (1430px)
*****************************************************
****************************************************/

@media (max-width: 1430px) {

/***************************
SECTION 2 
***************************/

.info-cards {
    gap: 5rem;
}

/***************************
END OF SECTION 2 QUERIES
***************************/

}
        
/***************************************************
****************************************************
END OF SMALL LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1430px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALL LAPTOPS OR LANDSCAPE ON IPADS (1300px)
*****************************************************
****************************************************/

@media (max-width: 1300px) {

/***************************
SECTION 2 
***************************/

.info-card-1, 
.info-card-2, 
.info-card-3 {
    height: 565px;
}

.br-disapear{
    display: none;
}

.contact-img-text {
    text-align: center;
    font-size: 2.5rem;
}

.contact-imgs img {
    width: 40%;
}

.contact-sat-trans {
    top: 70px;
    left: 20px;
}
    
/***************************
END OF SECTION 2 QUERIES
***************************/

}
            
/***************************************************
****************************************************
END OF SMALL LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1300px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALLER LAPTOPS OR LANDSCAPE ON IPADS (1000px)
*****************************************************
****************************************************/

@media (max-width: 1000px) {

/***************************
SECTION 2 
***************************/

.info-cards {
    flex-direction: column;
    gap: 8rem;
}

.info-card-text p {
    font-size: 2rem;
}

.info-card-1, 
.info-card-2, 
.info-card-3 {
    height: 450px;
}

.info-card-svg svg {
    width: 5rem;
}

.info-card-text h3 {
    font-size: 2.7rem;
}

.contact-p {
    width: 90%;
}

/*************************** 
CONTACT CARD
***************************/

.contact-card {
    grid-template-columns: 1fr;
    border-radius: 0px 0px 10px 10px;
}

.contact-form {
    border-radius: 0px 0px 10px 10px;
}

.contact-img-section {
    animation: floating 35s linear infinite alternate;
    height: 500px;
}

.contact-imgs img {
    width: 25%;
}

.contact-sat-trans {
    top: 40px;
    left: 55px;
}

.contact-img-text {
    font-size: 2.7rem;
    width: 95%;
}
        
/***************************
END OF SECTION 2 QUERIES
***************************/
        
}
                
/***************************************************
****************************************************
END OF SMALLER LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1000px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (850px)
*****************************************************
****************************************************/

@media (max-width: 850px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 7rem;
}
            
/***************************
END OF SECTION 1 QUERIES
***************************/





/***************************
SECTION 2 
***************************/
    
/*************************** 
CONTACT CARD
***************************/

.contact-imgs img {
    width: 30%;
}
            
/***************************
END OF SECTION 2 QUERIES
***************************/
            
}
                    
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (850px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (650px)
*****************************************************
****************************************************/

@media (max-width: 650px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 5rem;
}

.contact-hero-text p {
    font-size: 2.4rem;
}

.contact-scroll-down {
    display: none;
}
                
/***************************
END OF SECTION 1 QUERIES
***************************/
    
    
    
    
    
/***************************
SECTION 2 
***************************/

.contact-imgs img {
    width: 40%;
}

.contact-sat-trans {
    top: 30px;
    left: 25px;
}

.info-card-1:hover,
.info-card-2:hover,
.info-card-3:hover{
    background: linear-gradient(rgba(0,0,0,0.73), rgba(0,0,0,0.73)), url(../IMG/Contact/Info-card-RER.jpg);
    background-size: cover;
    background-position: top;
    color: white;
    transform: none;
}

.info-card-1:hover .info-card-svg svg,
.info-card-2:hover .info-card-svg svg,
.info-card-3:hover .info-card-svg svg{
    color: white;
}
        
/*************************** 
CONTACT CARD
***************************/

.contact-img-section {
    animation: floating 50s linear infinite alternate;
    height: 500px;
}
                
/***************************
END OF SECTION 2 QUERIES
***************************/
                
}
                        
/***************************************************
****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (650px)
****************************************************
***************************************************/














/****************************************************
EXXION VOYAGER SECTION THREE HEIGHT
****************************************************/
@media (max-width: 550px) {
    .form-selec {
        grid-template-columns: 1fr;
        row-gap: 3.5rem;
    }
}
/****************************************************
END OF EXXION VOYAGER SECTION THREE HEIGHT
****************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (500px)
*****************************************************
****************************************************/

@media (max-width: 500px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 4.5rem;
}

.contact-hero-text p {
    font-size: 2.3rem;
}
             
/***************************
END OF SECTION 1 QUERIES
***************************/
        
        
        
        
        
/***************************
SECTION 2 
***************************/

.info-card-text p {
    font-size: 1.8rem;
}

.info-card-text h3 {
    font-size: 2.5rem;
}

.info-card-svg svg {
    width: 4.5rem;
}
            
/*************************** 
CONTACT CARD
***************************/

.contact-img-text {
    font-size: 2.5rem;
    width: 95%;
}

.contact-imgs img {
    width: 45%;
}

.contact-sat-trans {
    top: 40px;
    left: 14px;
}
                    
/***************************
END OF SECTION 2 QUERIES
***************************/
                    
}
                            
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (500px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR TABLETS AND BIG PHONES (450px)
*****************************************************
****************************************************/

@media (max-width: 450px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 4.2rem;
}

.contact-hero-text p {
    font-size: 2.1rem;
}
        
/***************************
END OF SECTION 1 QUERIES
***************************/
            
            
            
            
            
/***************************
SECTION 2 
***************************/

.info-card-1, .info-card-2, .info-card-3 {
    height: 470px;
}
                      
/***************************
END OF SECTION 2 QUERIES
***************************/
                        
}
                                
/***************************************************
****************************************************
END OF TABLETS AND BIG PHONES (450px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR BIG TO MEDIUM PHONE QUERIES (400px)
*****************************************************
****************************************************/

@media (max-width: 400px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 4rem;
}

.contact-hero-text p {
    font-size: 2rem;
}
     
/***************************
END OF SECTION 1 QUERIES
***************************/
                
                
                
                
                
/***************************
SECTION 2 
***************************/

.info-card-1, 
.info-card-2, 
.info-card-3 {
    height: 515px;
}

/***************************
END OF SECTION 2 QUERIES
***************************/
                            
}
                                    
/***************************************************
****************************************************
END OF BIG TO MEDIUM PHONE QUERIES (400px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR MEDIUM TO SMALL PHONES (350px)
*****************************************************
****************************************************/

@media (max-width: 350px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 3.4rem;
}

/***************************
END OF SECTION 1 QUERIES
***************************/
                    
                    
                    
                    
                    
/***************************
SECTION 2 
***************************/

.info-card-1, 
.info-card-2, 
.info-card-3 {
    height: 580px;
}
                             
/***************************
END OF SECTION 2 QUERIES
***************************/
                                
}
                                        
/***************************************************
****************************************************
END OF MEDIUM TO SMALL PHONES (350px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALL PHONES AND FOLD PHONES (300px)
*****************************************************
****************************************************/

@media (max-width: 300px) {

/***************************
SECTION 1
***************************/

.contact-hero-text h1 {
    font-size: 3.1rem;
}

/***************************
END OF SECTION 1 QUERIES
***************************/
                        
                        
                        
                        
                        
/***************************
SECTION 2 
***************************/

.info-card-1, 
.info-card-2, 
.info-card-3 {
    height: 600px;
}
          
/***************************
END OF SECTION 2 QUERIES
***************************/
                                    
}
                                            
/***************************************************
****************************************************
END OF SMALL PHONES AND FOLD PHONES (300px)
****************************************************
***************************************************/