/****************************************************
*****************************************************
FOR SMALL LAPTOPS OR LANDSCAPE ON IPADS (1430px)
*****************************************************
****************************************************/

@media (max-width: 1430px) {
/***************************
SECTION 2 
***************************/

.oursat-voyager-img{
    background: url(../IMG/Our-sat/nebula.webp);
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-right: 5.5rem;
    margin-left: 3.5rem;
    border-radius: 10px;
}

.nebula-disapear{
    width: 0;
}

.oursat-voyager-img-trans img {
    width: 55%;
}

.oursat-voyager-text {
    width: 95%;
}
        
/***************************
END OF SECTION 2 QUERIES
***************************/





/***************************
SECTION 3
***************************/

.MCRN-1-img{
    background: url(../IMG/Our-sat/nebula.webp);
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-left: 5.5rem;
    margin-right: 3.5rem;
    border-radius: 10px;
}

.MCRN-1-text {
    width: 95%;
}

.MCRN-1-img-trans img {
    width: 55%;
}
        
/***************************
END OF SECTION 3 QUERIES
***************************/





/***************************
SECTION 4
***************************/

.end-background-text {
    width: 80%;
}
        
/***************************
END OF SECTION 4 QUERIES
***************************/
        
}
        
/***************************************************
****************************************************
END OF SMALL LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1430px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALL LAPTOPS OR LANDSCAPE ON IPADS (1300px)
*****************************************************
****************************************************/

@media (max-width: 1300px) {
/***************************
SECTION 2 
***************************/

.oursat-voyager-details {
    grid-template-columns: repeat(2, 1fr);
}
            
/***************************
END OF SECTION 2 QUERIES
***************************/
            
            
            
            
/***************************
SECTION 3 
***************************/

.MCRN-1-details {
    grid-template-columns: repeat(2, 1fr);
}
     
/***************************
END OF SECTION 3 QUERIES
***************************/
            
            
            
            
            
/***************************
SECTION 4 
***************************/

.end-background-text {
    width: 85%;
}
            
/***************************
END OF SECTION 4 QUERIES
***************************/
            
}
            
/***************************************************
****************************************************
END OF SMALL LAPTOPS OR LANDSCAPE ON IPADS SECTION
(1300px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALLER LAPTOPS OR LANDSCAPE ON IPADS (1000px)
*****************************************************
****************************************************/

@media (max-width: 1000px) {
/***************************
EXTRA IMG SECTION
***************************/

.extra-img-text {
    width: 85%;
}
        
/***************************
END OF EXTRA IMG SECTION 
QUERIES
***************************/
        
        
        
        
        
/***************************
SECTION 2 
***************************/

.oursat-voyager-img{
    background: none;
    height: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
    border-radius: 0;
}

.nebula-disapear {
    width: 90%;
}

.oursat-voyager-img-trans img {
    width: 50%;
}

.oursat-voyager h5 {
    text-align: center;
}

.oursat-voyager-text {
    width: 90%;
    margin-top: 5rem;
    text-align: center;
    padding: 0;
}

.oursat-links{
    display: flex;
    justify-content: center;
}
                
/***************************
END OF SECTION 2 QUERIES
***************************/
                
                
                
                
/***************************
SECTION 3 
***************************/

.MCRN-1-img{
    background: none;
    height: 100%;
    margin-right: 0rem;
    margin-left: 0rem;
    border-radius: 0;
}

.MCRN-1-text {
    width: 90%;
    padding: 0;
    text-align: center;
    order: 1;
    margin-top: 5rem;
}
         
/***************************
END OF SECTION 3 QUERIES
***************************/
                
                
                
                
                
/***************************
SECTION 4 
***************************/

.end-background {
    height: 115vh;
}
                
/***************************
END OF SECTION 4 QUERIES
***************************/
                
}
                
/***************************************************
****************************************************
END OF SMALLER LAPTOPS OR LANDSCAPE ON IPADS (1000px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (850px)
*****************************************************
****************************************************/

@media (max-width: 850px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 7rem;
}
            
/***************************
END OF SECTION 1
***************************/





/***************************
EXTRA IMG SECTION
***************************/

.extra-img-text {
    width: 90%;
}
        
/***************************
END OF EXTRA IMG SECTION 
QUERIES
***************************/
        
        
        
        
                          
/***************************
SECTION 4 
***************************/

.end-background {
    height: 100vh;
}
           
/***************************
END OF SECTION 4 QUERIES
***************************/
                    
}
                    
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (850px)
****************************************************
***************************************************/
















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (650px)
*****************************************************
****************************************************/

@media (max-width: 650px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 5rem;
}

.oursat-hero-text p {
    font-size: 2.4rem;
}

.oursat-scroll-down {
    display: none;
}
            
/***************************
END OF SECTION 1 QUERIES
***************************/





/***************************
EXTRA IMG SECTION
***************************/

.our-sat-extra {
    height: 150vh;
}

.extra-img-btns {
    gap: 2rem;
}

.extra-img-btn-1 a, 
.extra-img-btn-2 a {
    padding: 0.8rem 1.3rem;
}

.our-sat-extra {
    background-size: cover;
    background-repeat: no-repeat;
}
            
/***************************
END OF EXTRA IMG SECTION 
QUERIES
***************************/
            
            
            
            
            
/***************************
SECTION 2 
***************************/

.oursat-voyager-details {
    column-gap: 3rem;
}

.oursat-links a {
    padding: 0.8rem 1.3rem;
}

.oursat-voyager-details {
    grid-template-columns: 1fr;
}

.detail-1:hover,
.detail-2:hover,
.detail-3:hover,
.detail-4:hover,
.detail-5:hover,
.detail-6:hover,
.detail-7:hover,
.detail-8:hover{
    transform: none;
    background: linear-gradient(rgba(0,0,0,0.73), rgba(0,0,0,0.73)), url("../IMG/Our-sat/Numbers-Re.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}

.detail-1:hover .detail-img span,
.detail-2:hover .detail-img span,
.detail-3:hover .detail-img span,
.detail-4:hover .detail-img span,
.detail-5:hover .detail-img span,
.detail-6:hover .detail-img span,
.detail-7:hover .detail-img span,
.detail-8:hover .detail-img span{
    color: white;
}
      
/***************************
END OF SECTION 2 QUERIES
***************************/
                    
                    
                    
                    
/***************************
SECTION 3 
***************************/

.MCRN-1-details {
    column-gap: 3rem;
}

.MCRN-1-details {
    grid-template-columns: 1fr;
}
             
/***************************
END OF SECTION 3 QUERIES
***************************/
                    
                    
                    
                    
                    
/***************************
SECTION 4 
***************************/

.end-background-text-btns {
    gap: 2rem;
}

.end-btn-1 a, 
.end-btn-2 a {
    padding: 0.8rem 1.3rem;
}

.end-background {
    height: 140vh;
}
                    
/***************************
END OF SECTION 4 QUERIES
***************************/
                    
}
                    
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (650px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR IPADS, TABLETS AND LANDSCAPE VIEW (500px)
*****************************************************
****************************************************/

@media (max-width: 500px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 4.5rem;
}

.oursat-hero-text p {
    font-size: 2.3rem;
}
         
/***************************
END OF SECTION 1 QUERIES
***************************/
                     
}
                        
/***************************************************
****************************************************
END OF IPADS, TABLETS AND LANDSCAPE VIEW (500px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR TABLETS AND BIG PHONES (450px)
*****************************************************
****************************************************/

@media (max-width: 450px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 4.2rem;
}

.oursat-hero-text p {
    font-size: 2.1rem;
}
             
/***************************
END OF SECTION 1 QUERIES
***************************/
        
        
        
        
        
/***************************
EXTRA IMG SECTION
***************************/

.extra-img-btn-1 a, 
.extra-img-btn-2 a {
    font-size: 1.6rem;
}

.our-sat-extra {
    height: 140vh;
}

.oursat-links a {
    font-size: 1.6rem;
    width: fit-content;
}
              
/***************************
END OF EXTRA IMG SECTION 
QUERIES
***************************/
                    
                    
                    
                    
                                          
/***************************
SECTION 4 
***************************/

.end-btn-1 a, 
.end-btn-2 a {
    font-size: 1.6rem;
}

.end-background {
    height: 155vh;
}
                            
/***************************
END OF SECTION 4 QUERIES
***************************/
                            
}
                            
/***************************************************
****************************************************
END OF TABLETS AND BIG PHONES (450px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR BIG TO MEDIUM PHONE QUERIES (400px)
*****************************************************
****************************************************/

@media (max-width: 400px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 4rem;
}

.oursat-hero-text p {
    font-size: 2rem;
}
       
/***************************
END OF SECTION 1 QUERIES
***************************/
            
            
            
            
            
/***************************
EXTRA IMG SECTION
***************************/

.our-sat-extra {
    height: 135vh;
}

.extra-img-btns {
    flex-direction: column;
}

.extra-img-btns {
    gap: 2rem;
}
            
/***************************
END OF EXTRA IMG SECTION 
QUERIES
***************************/




                                  
/***************************
SECTION 4 
***************************/

.end-background {
    height: 170vh;
}

.end-background-text-btns {
    gap: 2rem;
}

.end-background-text-btns {
    flex-direction: column;
}
                                
/***************************
END OF SECTION 4 QUERIES
***************************/
                                
}
                                
/***************************************************
****************************************************
END OF BIG TO MEDIUM PHONE QUERIES (400px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR MEDIUM TO SMALL PHONES (350px)
*****************************************************
****************************************************/

@media (max-width: 350px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 3.4rem;
}
  
/***************************
END OF SECTION 1 QUERIES
***************************/
                
                
                
                
                
/***************************
EXTRA IMG SECTION
***************************/

.extra-img-btn-1 a,
.extra-img-btn-2 a {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
}
         
/***************************
END OF EXTRA IMG SECTION 
QUERIES
***************************/
    
    
    
    
    
/***************************
SECTION 2
***************************/

.oursat-links a {
    font-size: 1.5rem;
    padding: 0.8rem 1rem;
}
                
/***************************
END OF SECTION 2
***************************/
                                    
}
                                    
/***************************************************
****************************************************
END OF MEDIUM TO SMALL PHONES (350px)
****************************************************
***************************************************/















/****************************************************
*****************************************************
FOR SMALL PHONES AND FOLD PHONES (300px)
*****************************************************
****************************************************/

@media (max-width: 300px) {
/***************************
SECTION 1
***************************/

.oursat-hero-text h1 {
    font-size: 3.1rem;
}

/***************************
END OF SECTION 1 QUERIES
***************************/
                                     
}
                                        
/***************************************************
****************************************************
END OF SMALL PHONES AND FOLD PHONES (300px)
****************************************************
***************************************************/